#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <behaviors/naginata.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    hold-while-undecided;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        lower_raise_function {
            if-layers = <2 4>;
            then-layer = <5>;
        };
    };

    macros {
        ng_on: ng_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANG1 &kp INTERNATIONAL_4 &to 1>;
        };

        ng_off: ng_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LANG2 &kp INTERNATIONAL_5 &to 0>;
        };
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 10 11 12 13 15 16 17 18 19 25 26 27 28 29 34 35 36 37 38 39>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 16 17 18 19 20 21 22 23 24 30 31 32 33 34>;
            hold-trigger-on-release;
            hold-while-undecided;
        };
    };

    /*
     * key positions (used by combos and hold-trigger-key-positions):
     * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
     * │ 0 │ 1 │ 2 │ 3 │ 4 │       │ 5 │ 6 │ 7 │ 8 │ 9 │
     * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
     * │10 │11 │12 │13 │14 │       │15 │16 │17 │18 │19 │
     * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
     * │20 │21 │22 │23 │24 │       │25 │26 │27 │28 │29 │
     * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
     * │30 │31 │32 │33 │34 │       │35 │36 │37 │38 │39 │
     * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
     */
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <0 2 3 4 5 6>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
            layers = <0 2 3 4 5 6>;
        };

        // NG off (C+V) is handled inside the naginata module, incl. the layer switch
        combo_ng_on {
            timeout-ms = <150>;
            key-positions = <26 27>;
            bindings = <&ng_on>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │ Q │ W │ E │ R │ T │       │ Y │ U │ I │ O │ P │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ A │ S │ D │ F │ G │       │ H │ J │ K │ L │ ; │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ Z │ X │ C │ V │ B │       │ N │ M │ , │ . │ / │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │Eis│Alt│Sft│Ent│Tab│       │Bsp│Spc│Sft│Alt│NG+│
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         * HRM: ⇧A ⌃S ⌥D ⌘F / ⌘J ⌥K ⌃L ⇧;   hold: Ent=LOWER Tab=SHORTCUT Spc=RAISE
         * combos: Q+W=esc  A+S=tab  M+,=NG on
         */
        default_layer {
            bindings = <
&kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I      &kp O      &kp P
&hml LSHFT A      &hml LCTRL S     &hml LALT D     &hml LCMD F        &kp G      &kp H     &hmr RCMD J        &hmr LALT K      &hmr RCTRL L      &hmr RSHFT SEMI
&kp Z      &kp X     &kp C     &kp V        &kp B      &kp N     &kp M        &kp COMMA  &kp DOT    &kp SLASH
&kp LANG2  &kp LALT  &kp LSHFT  &lt 2 ENTER  &lt 6 TAB  &kp BSPC  &lt 4 SPACE  &kp RSHFT  &kp RALT  &ng_on
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │N_Q│N_W│N_E│N_R│N_T│       │N_Y│N_U│N_I│N_O│N_P│
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │N_A│N_S│N_D│N_F│N_G│       │N_H│N_J│N_K│N_L│N_;│
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │N_Z│N_X│N_C│N_V│N_B│       │N_N│N_M│N_,│N_.│N_/│
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │NG-│Sft│Sft│Ent│Tab│       │Bsp│Spc│Sft│Sft│Kna│
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         * Spc/Ent = 薙刀シフト   hold: Sft(inner)=LOWER/RAISE Tab=SHORTCUT
         * edit modes: hold D+F / J+K / C+V / M+,   C+V alone = NG off
         * hold Sft(outer, plain Shift) = roman passthrough (capitals)
         */
        naginata_layer {
            label = "NAGINATA";
            bindings = <
&ng Q      &ng W     &ng E     &ng R        &ng T      &ng Y     &ng U        &ng I      &ng O      &ng P
&ng A      &ng S     &ng D     &ng F        &ng G      &ng H     &ng J        &ng K      &ng L      &ng SEMI
&ng Z      &ng X     &ng C     &ng V        &ng B      &ng N     &ng M        &ng COMMA  &ng DOT    &ng SLASH
&ng_off    &kp LSHFT  &lt 2 LSHFT  &ng ENTER  &lt 6 TAB  &kp BSPC  &ng SPACE  &lt 4 RSHFT  &kp RSHFT  &kp LANG1
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │esc│ 4 │ 5 │ 6 │del│       │ * │   │ ( │ ) │ ` │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ 0 │ 1 │ 2 │ 3 │bsp│       │ / │ " │ [ │ ] │ ' │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ . │ 7 │ 8 │ 9 │ ` │       │Eis│Kna│ { │ } │ | │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │del│   │   │   │   │
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         */
        lower_layer {
            label = "LOWER";
            bindings = <
&kp ESC    &kp N4  &kp N5  &kp N6  &kp DEL    &kp ASTRK  &none     &kp LPAR  &kp RPAR  &kp GRAVE
&kp N0     &kp N1  &kp N2  &kp N3  &kp BSPC   &kp SLASH  &kp DQT   &kp LBKT  &kp RBKT  &kp SQT
&kp DOT    &kp N7  &kp N8  &kp N9  &kp GRAVE  &kp LANG2  &kp LANG1 &kp LBRC  &kp RBRC  &kp PIPE
&trans     &trans  &trans  &trans  &trans      &kp DEL    &trans    &trans    &trans    &trans
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │   │   │   │   │   │       │   │mb1│mb3│mb2│   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ A │ S │ D │ F │ G │       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │   │   │   │   │   │
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         * auto mouse layer; left HRM active, blank = transparent
         */
        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans     &trans  &trans    &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&hml LSHFT A  &hml LCTRL S  &hml LALT D  &hml LCMD F  &kp G  &trans  &trans    &trans    &trans    &trans
&trans     &trans  &trans    &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans     &trans  &trans    &trans    &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │tab│ $ │ % │ ^ │ : │       │   │Hom│Pdn│Pup│End│
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ ? │ ! │ @ │ # │ ; │       │esc│ ← │ ↓ │ ↑ │ → │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │ ° │ & │ * │ ~ │ • │       │ _ │ - │ + │ = │ \ │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │   │   │   │   │   │
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         */
        raise_layer {
            label = "RAISE";
            bindings = <
&kp TAB       &kp DLLR  &kp PRCNT  &kp CARET  &kp COLON    &none      &kp HOME   &kp PG_DN  &kp PG_UP  &kp END
&kp QMARK     &kp EXCL  &kp AT     &kp HASH   &kp SEMI     &kp ESC    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
&kp LA(ASTRK) &kp AMPS  &kp ASTRK  &kp TILDE  &kp LA(N8)   &kp UNDER  &kp MINUS  &kp PLUS   &kp EQUAL  &kp BSLH
&trans        &trans    &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │BT0│BT1│BT2│BT3│BT4│       │   │F10│F11│F12│F6 │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │Clr│       │   │F1 │F2 │F3 │F4 │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │ClA│       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │   │   │   │   │   │
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         * Clr = clear current BT profile, ClA = clear all profiles
         */
        function_layer {
            label = "FUNCTION";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none    &kp F10  &kp F11  &kp F12  &kp F6
&trans        &trans        &trans        &trans        &bt BT_CLR      &none    &kp F1   &kp F2   &kp F3   &kp F4
&trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &none    &none    &none    &none    &none
&trans        &trans        &trans        &trans        &trans          &trans   &trans   &trans   &trans   &trans
            >;
        };

        /*
         * ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
         * │⌘` │⌘⇥ │   │^F2│   │       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │^← │^↓ │^↑ │^→ │esc│       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │⌘z │⌘x │⌘c │⌘v │⌘v*│       │   │   │   │   │   │
         * ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
         * │   │   │   │   │   │       │   │   │   │   │   │
         * └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
         * ⌘v* = paste and match style (⇧⌥⌘v)
         */
        shortcut_layer {
            label = "SHORTCUT";
            bindings = <
&kp LG(GRAVE)  &kp LG(TAB)   &none        &kp LC(F2)     &none       &none  &none  &none  &none  &none
&kp LC(LEFT)   &kp LC(DOWN)  &kp LC(UP)   &kp LC(RIGHT)  &kp ESC     &none  &none  &none  &none  &none
&kp LG(Z)      &kp LG(X)     &kp LG(C)    &kp LG(V)      &kp LS(LA(LG(V)))  &none  &none  &none  &none  &none
&trans         &trans        &trans       &trans         &trans      &trans &trans &trans &trans &trans
            >;
        };
    };
};
